SpriteSheetAnimator/SpriteSheetAnimator/SpriteSheetAnimator/bin/x86/Debug/Text Files/FileStack.txt
SpriteSheetAnimator/SpriteSheetAnimator/SpriteSheetAnimator/bin/x86/Debug/Text Files/DefaultDir.txt
SpriteSheetAnimator/SpriteSheetAnimator/SpriteSheetAnimator/bin/x86/Debug/Text Files/FileStack.txt